<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletSolicitudesPorEtapaJSON</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletSolicitudesPorEtapaJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSolicitudesServicioJSON</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletSolicitudesServicioJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCentroAsesoriaJSON</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletCentroAsesoriaJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletArchivoJsonCentrosDeAsesorias</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletArchivoJsonCentrosDeAsesorias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletArchivoJsonSolicitudesPorSemana</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletArchivoJsonSolicitudesPorSemana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletArchivoJsonSolicitudesDeServicio</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletArchivoJsonSolicitudesDeServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCentroAsesoriaDetalleJSON</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletCentroAsesoriaDetalleJSON</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletListaCentrosDeAsesoriaJson</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletListaCentrosDeAsesoriaJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletArchivoJsonAprobechamientoAcademico</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletArchivoJsonAprobechamientoAcademico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAprovechemientoMaterias</servlet-name>
        <servlet-class>Servlet.Estadistica.ServletAprovechemientoMaterias</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSolicitudesPorEtapaJSON</servlet-name>
        <url-pattern>/ServletSolicitudesPorEtapaJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSolicitudesServicioJSON</servlet-name>
        <url-pattern>/ServletSolicitudesServicioJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCentroAsesoriaJSON</servlet-name>
        <url-pattern>/ServletCentroAsesoriaJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArchivoJsonCentrosDeAsesorias</servlet-name>
        <url-pattern>/ServletArchivoJsonCentrosDeAsesorias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArchivoJsonSolicitudesPorSemana</servlet-name>
        <url-pattern>/ServletArchivoJsonSolicitudesPorSemana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArchivoJsonSolicitudesDeServicio</servlet-name>
        <url-pattern>/ServletArchivoJsonSolicitudesDeServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCentroAsesoriaDetalleJSON</servlet-name>
        <url-pattern>/ServletCentroAsesoriaDetalleJSON</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletListaCentrosDeAsesoriaJson</servlet-name>
        <url-pattern>/ServletListaCentrosDeAsesoriaJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArchivoJsonAprobechamientoAcademico</servlet-name>
        <url-pattern>/ServletArchivoJsonAprobechamientoAcademico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAprovechemientoMaterias</servlet-name>
        <url-pattern>/ServletAprovechemientoMaterias</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
